*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{   
    color: black;
    font-weight: bold;

}

h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.card{
    display: flex;
    
}