*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{   
    color: black;
    font-weight: bold;

}

.contenedor-sobremi{
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
}

.container{
    margin-top: 45px;
    
}

.container .row h2{
    text-align: center;
    margin-bottom: 40px;
}

.container .row .card{
    margin-left: 40px;
}

.contacto-titulo{
    text-align: center;
}

.container form{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container form input{
    border: solid 1px rgb(160, 160, 160);
}